.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}

.ma{
    margin: auto;
}

.ul-i{
    i-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-i .tabs{
    display: inline-block;
    border: 1px solid black;
}
/* 
.home{
    width: 95%;
    overflow-y: auto;
}
 */
.atab{
    height: 500px;
    overflow-y: auto;
}

.tc{
    text-align: center;
}

input[readonly]{
    background: transparent;
    border: none;
}