.home{
    width: 95%;
    overflow-y: auto;
}

.w-100{
    width: 100%;
}

.ma{
    margin: auto;
}

.ul-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-list .tabs{
    display: inline-block;
    border: 1px solid black;
}