.w49{
    width: 49%;
    display: inline-block;
}
.w80{
    width: 80%;
}
.w100{
    width: 100%;
}
.dn{
    display: none;
}
.dib{
    display: inline-block;
}
.ma{
    margin: auto;
}
.uli{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.uli .tabs{
    display: inline-block;
}
input[readonly]{
    background: transparent;
    border: none;
    width: 150px;
}
.em{
    width: 40px;
    height: 60px;
    background: url("./icon/03D02.png") center no-repeat;
}
.bk{
    width: 40px;
    height: 60px;
    background: url("./icon/03D03.png") center no-repeat;
}
.sm{
    width: 80px;
    height: 90px;
}
.bg, .bgw{
    width: 200px;
    height: 240px;
}
.bw, .bw td{
    border: 1px solid white;
}
.bb, .bb td{
    border: 1px solid black;
}
.tc{
    text-align: center;
}